# Discord Webhooks - Salin ke .env.local dan isi dengan URL webhook Discord Anda
# Tutorial buat webhook: Server Settings > Integrations > Webhooks > New Webhook > Copy URL

DISCORD_WEBHOOK_WEBSITE=https://discordapp.com/api/webhooks/1498354760716255414/neHFdbe8BAO8dn3ZhSnYI7NQw_q5ulq3WoxxwqnINKp-XXOfwQF9zYMJRtgpbDmoL40J
DISCORD_WEBHOOK_DISCORD_SERVER=https://discordapp.com/api/webhooks/1498355019714658364/vkJJl4-954fs4liopZiAcWFv1hd6w3Hl4K_NZw-DTlXHqP0C2bYWu0g0ianC2Fj87svp
DISCORD_WEBHOOK_DISCORD_BOT=https://discordapp.com/api/webhooks/1498355256340250685/pBIxbsaQgViFyKNp-kINi5XevWBwTNTZH2Xtw6-fV91qT69Gvt_GNZ7BLKHykZ44iHot
DISCORD_WEBHOOK_WHATSAPP_BOT=https://discordapp.com/api/webhooks/1498355379791466516/Bm26K0JvEu2WHE2AkGSvVUY124Xs7-P-nciCkzRbXYQ3bt2r64tuZFNzuMzQgh54_7z7

